<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.mindweaversolutions.trucksta.trucksta">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCmNWsCh7_CM-LpvzD3hNAi9F_2vDXAWZ4" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Registration.RegisterActivity" />
        <activity android:name=".LanguageSelectionActivity" />
        <activity android:name=".IntroductoryActivity" />
        <activity android:name=".Registration.RegisterDocs" />
        <activity android:name=".Registration.RegisterPersonal" />
        <activity android:name=".Registration.RegisterPayement"></activity>
    </application>

</manifest>